@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Poppins", sans-serif;
}

.navLink {
  position: relative;
}

.navLink::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #642ee3;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.4s ease;
}

.navLink:hover::before {
  width: 100%;
}

.navLink.active::before {
  width: 100%;
}


/* Base style for next & prev buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff !important;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
}

/* Change the arrow icon size */
/* .swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 40px !important;
  font-weight: bold !important;
} */

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #422ad5;
  transform: scale(1.1);
}

/* Adjust position if needed */
.swiper-button-next {
  right: 15px !important;
}

.swiper-button-prev {
  left: 15px !important;
}

/* Optional: make pagination dots match your theme */
.swiper-pagination-bullet {
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #422ad5 !important;
  opacity: 1;
}